:root {
  --active-color: rgb(46, 46, 46);
}

.education {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--shadow);
  color: var(--black-font);
}

.education .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
