.working-experience {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--shadow);
    color: var(--black-font);
  }